/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@200;300;400;500;600;700;800&family=Outfit:wght@400;700&family=Roboto:wght@100;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  *::-webkit-scrollbar-track {
    background: #d9d9d9;        /* color of the tracking area */
    border-radius: 5px;

  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #FF7C33;    /* color of the scroll thumb */
  /* creates padding around scroll thumb */
  border-radius: 5px;

  }

/* Side-bar */

hr{
    background-color: #D9D9D9;
    height: 2px;
    border: none;
}

.dashboard-main{
    display: flex;
}

.aside-bar-menu{
    background-color: #FFFFFF;
    height: 100vh;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.aside-bar-menu #logo-ducktetive{
    margin: 30px;
    text-align: center;
}

.aside-bar-menu #logo-ducktetive #duck-logo-dashboard{
    height: 50px;
}

.dashboard-main #user-data{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.dashboard-main #userData #user-picture{
    height: 90px;
    width: 90px;
}

#user-name{
    font-weight: bold;
    color: #313131;
    font-size: 20px;
}

#user-role{
    font-weight: bold;
    color: #757575;
}

#dashboard-menu{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#dash-title{
    color: #757575;
    font-weight: bold;
    margin-bottom: 15px;
}

#dashboard-menu .dash-item{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.dash-item :hover{
    background-color: rgba(255,124,51,0.11);

}

#dashboard-menu .dash-item .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
    height: 100%;

}

#dashboard-menu .dash-item .menu .icon {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;

}

#dashboard-menu .dash-item .icon .icon-menu{
    height: 19px;
}

#ram-icon{
    width: 19px;

}


#dashboard-menu .dash-item .item-text{
    color: #757575;
    font-weight: bold;
    width: 75%;
    text-align: start;
}



#alerts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}

#alert-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 273px;
    width: 100%;
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.content-alert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,124,51,0.11);
    height: 80px;
    width: 75%;
    border-radius: 25px;
    margin-bottom: 10px;
    padding: 20px;
}

.content-alert div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content; 
    

}

.content-alert #alert-status-healthy{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: rgb(0, 255, 0);
    margin-right: 10px;
}
.content-alert #alert-status-attention{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: yellow;
    margin-right: 10px;
}
.content-alert #alert-status-critic{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: red;
    margin-right: 10px;
}

.alert-title{
    font-weight: bold;
    color: #757575;
}

.alert-message{
    color: #757575;
    font-size: 14px;
    margin-top: 10px;
}


/* Final Side-bar */

.dashboard-content{
    background-color: #FF7C33;
    background-color: rgba(255,124,51,0.11);
    display: flex;
    width: 100%;
    position: relative;
    padding-left: 200px;
    height: 100vh;
}