/* pagina mural */

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@200;300;400;500;600;700;800&family=Outfit:wght@400;700&family=Roboto:wght@100;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #d9d9d9;
  /* color of the tracking area */
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff7c33;
  /* color of the scroll thumb */
  /* creates padding around scroll thumb */
  border-radius: 5px;
}

/* Side-bar */

hr {
  background-color: #d9d9d9;
  height: 2px;
  border: none;
}

a {
  text-decoration: none;
}

.dashboard-main {
  display: flex;
}

.aside-bar-menu {
  background-color: #f8f8f8;
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.icon {
  pointer-events: none;
}
.item-text {
  pointer-events: none;
}
.aside-bar-menu #logo-ducktetive {
  margin: 25px;
  text-align: center;
}

.aside-bar-menu #logo-ducktetive #duck-logo-dashboard {
  height: 50px;
}

#linkPerfil {
  font-style: none;
  text-decoration: none;
}

#user_picture {
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

#b_usuario {
  font-weight: bold;
  color: #313131;
  font-size: 15px;
}

#cargo_usuario {
  font-weight: bold;
  color: #757575;
  font-size: 12px;
  text-align: center;
}

#dashboard-home {
}

#dashboard-menu {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 12px;
  height: 80%;
}

.bottom-items,
.top-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#dash-title {
  color: #757575;
  font-weight: bold;
  margin-bottom: 1vh;
}

#dashboard-menu .dash-item {
  display: flex;
  height: 5vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.double-item {
  display: block;
}

#dashboard-menu .dash-item .menu {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  gap: 15px;
  height: 40px;
  border-radius: 15px;
}

#dashboard-menu .dash-item #selected {
  background: rgb(238, 238, 238);
  background: linear-gradient(
    90deg,
    rgba(238, 238, 238, 1) 0%,
    rgba(238, 238, 238, 1) 90%,
    rgba(255, 124, 51, 1) 90%
  );
}

#dashboard-menu .dash-item #selected .item-text {
  color: #ff7c33;
}
#dashboard-menu .dash-item .menu :hover {
  background-color: rgba(255, 89, 0, 0.11);
}

#dashboard-menu .dash-item .menu .icon {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: end;
}

#dashboard-menu .dash-item .icon .icon-menu {
  height: 19px;
}

#ram-icon {
  width: 19px;
}

#dashboard-menu .dash-item .item-text {
  color: #757575;
  font-weight: bold;
  width: 75%;
  text-align: start;
}

#alerts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 2vh;
}

#alert-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  display: block;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.content-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 124, 51, 0.11);
  height: 10vh;
  width: 75%;
  border-radius: 25px;
  margin-bottom: 1vh;
  padding: 2vh;
}

.content-alert div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.content-alert #alert-status-healthy {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: rgb(0, 255, 0);
  margin-right: 10px;
}

.content-alert #alert-status-attention {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: yellow;
  margin-right: 10px;
}

.content-alert #alert-status-critic {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: red;
  margin-right: 10px;
}

.alert-title {
  font-weight: bold;
  color: #757575;
}

.alert-message {
  color: #757575;
  font-size: 14px;
  margin-top: 10px;
}

/* Final Side-bar */

.dashboard-content {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  padding-left: 220px;
  /* height: 100vh; */
  /* comentamos o codigo acima para que a tela fique adaptiva*/
}

.dashboard-content #server-list {
  display: flex;
  gap: 20px;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  padding: 0 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.serverCard {
  background-color: #f4f4f4;
  height: 200px;
  width: 350px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#server-list .createServer {
  font-size: 40px;
  font-weight: bold;
  background-color: #f4f4f4;
}

.serverCard .serverGeneral {
  background-color: #ffffff;
  height: 180px;
  width: 100%;
  margin: 10px;
  border-radius: 10px;
}

.serverCard .serverGeneral .serverData {
  margin: 15px 10px;
  height: 40%;
}

.serverCard .serverGeneral .serverData .nomeServidor {
  font-weight: bold;
  color: #757575;
  font-size: 16px;
}

.serverCard .serverGeneral .serverData .idServidor {
  font-weight: 500;
  color: #757575;
  font-size: 14px;
}

.serverCard .serverGeneral .serverLocation {
  margin: 15px 10px 0px 10px;
  height: 20%;
  display: flex;
  align-items: end;
}

.serverCard .serverGeneral .serverLocation .serverEndereco {
  font-weight: 500;
  color: #757575;
  font-size: 14px;
}

.serverCard .serverGeneral .serverStatus {
  background-color: #ffffff;
  width: 70%;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
}

.serverCard .serverActions .serverStatus {
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  display: flex;
  gap: 3px;
  justify-content: center;
}

.serverCard .serverActions {
  background-color: #f4f4f4;
  width: fit-content;
  height: 180px;
  margin: 0 0 10px 0;
  border-radius: 10px;
}

.serverCard .serverActions .statusServer {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-top: 5px;
}

.serverCard .serverActions #statusServer {
  margin-top: 5px;
  margin-right: 5px;
  font-weight: bold;
  color: #757575;
  font-size: 16px;
}

.serverCard .serverGeneral .statusServer {
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background-color: #6dff33;
  margin-top: 5px;
}

.serverCard .serverGeneral #statusServer {
  margin-top: 5px;
  font-weight: bold;
  color: #757575;
}

.serverActions .buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  margin-left: -5px;
  height: 70%;
  width: 100%;
}

.serverActions .buttons a {
  height: fit-content;
}

.cardEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: #d3d3d3;
  border-radius: 15px;
}

.cardoStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: #ffcf26;
  border-radius: 15px;
}

.cardRemove {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: #ff3333;
  border-radius: 15px;
}

/* DASHBOARD */
.KPI-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.CPU-cards-kpi,
.disco-cards-kpi {
  height: 100px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d9d9d9;
}

#cpu-frequency,#ram-frequency {
  color: #ffffff;
}


#disco-frequency {
  background-color: rgb(225, 213, 81);
  color: #ffffff;
}

.kpi-title {
  font-size: 14px;
}

.kpi-content {
  font-size: 32px;
}

.read-write {
  font-size: 22px;
}

/* Graficos CPU */

/* CPU */

#cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.cpu-cards,
.ramCharts,
.redeCharts,
.discoCharts {
  background-color: #ffffff;
  height: 430px;
  width: 800px;
  border-radius: 30px;
  padding: 15px;
}

.cpu-use {
  height: 300px;
  width: 600px;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 15px;
}

.ram-use {
  height: 100px;
  width: 600px;
  margin: 20px;
  border-radius: 15px;
}

.rede-use {
  height: 300px;
  width: 600px;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 15px;
}

.KPI-ram {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.KPI-rede {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 45px;
}

.nome-rede {
  background-color: #fff;
  border: 2px solid #000;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  align-items: center;
}

.pacotes-recebidos {
  border: 2px solid #000;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
.dados-do-servidor {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

.dados-do-servidor .servHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dados-do-servidor .servHeader #titulo-pagina .titulo {
  color: #757575;
  font-weight: bold;
  font-size: 32px;
}

.dados-do-servidor .servHeader #titulo-pagina .subtitulo {
  color: #a6a6a6;
  font-weight: 500;
  font-size: 22px;
}

.dados-do-servidor .servButtons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dados-do-servidor .servButtons .buscar {
  background-color: #f4f4f4;
  width: 350px;
  height: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: end;
  border: 0px;
}

.dados-do-servidor .servButtons #dadosUsuario {
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Define outras propriedades para remover estilos padrão (opcional) */
  border: none;
  outline: none;
  /* Adicione mais propriedades conforme necessário */
  margin-left: 15px;
}

#imgLupa {
  margin-right: 10px;
}

.headerButton {
  height: 50px;
}

.dados-do-servidor #nomeCPU p {
  font-size: 20px;
  margin: 10px;
}

.alertas {
  display: flex;
  flex-direction: column;
}

.alertas > .excesso-pacotes {
  background-color: rgb(250, 147, 147);
  border: 2px solid #000;
  margin-bottom: 5px;
  padding: 5px;
}

.alertas > .risco-excesso {
  background-color: rgb(252, 210, 119);
  border: 2px solid #000;
  padding: 5px;
}

/*alterar padding*/
.total-ram,
.emUso-ram,
.info-over {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
}

.info-over {
  background-color: rgb(202, 31, 31);
  color: #ffffff;
}

.ramCharts {
  display: flex;
  flex-direction: column;
}

#bar-total {
  background-color: green;
  height: 40px;
}

#bar-uso {
  background-color: #ff7c33;
  height: 40px;
}

/* Kaiky */
.cpu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.campo-grafico {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70vw;
}

.graficos {
  width: 15vw;
  height: 20vh;
  background-color: #fff;
  border-radius: 20px;
  margin: 10px;
}

#dashboard-CPU {
  color: #757575;
}

.uso-cpu {
  display: flex;
  justify-content: space-between;
  width: 65vw;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 10px;
  padding: 2vh;
}

.grafico-detalhes {
  width: 65%;
}

.utilizacao-velocidade {
  display: flex;
  justify-content: space-between;
}

.utilizacao-velocidade span {
  display: flex;
  flex-direction: column;
}

.uso-cpu #div_kpi_cpu span div {
  display: flex;
  flex-direction: column;
}

span div span {
  display: flex;
  justify-content: space-between;
}

span div span b {
  margin-left: 2vh;
}

/* Dashboard memória RAM */
/* Zapatta */
.conteudo-ram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  height: 100vh;
}

.area-grafico-ram {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 70vw;
  background-color: #ffffff;
  border-radius: 30px;
}

.grafico-ram {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.indicadores-grafico-ram {
  display: flex;
  justify-content: space-between;
  color: #757575;
  font-size: 125%;
  font-weight: 400;
  height: 50vh;
  width: 70vw;
}

.indicadores-ram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  padding: 3%;
  background-color: #ffffff;
  border-radius: 30px;
  height: 82%;
  width: 42%;
}

.indicadores-medicao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grafico-barra-individual1,
.grafico-barra-individual2 {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  border-radius: 30px;
  height: 82%;
  width: 17%;
}

/* Dashboard armazenamento */
/* Zapatta*/

.conteudo-armazenamento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  height: 100vh;
}

.area-grafico01-armazenamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 70vw;
  background-color: #ffffff;
  border-radius: 30px;
}

.armazenamento-grafico01 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.area-grafico02-armazenamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 16vh;
  width: 70vw;
  background-color: #ffffff;
  border-radius: 30px;
}

.armazenamento-grafico02 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.area-bottom-indicadores-grafico03 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30vh;
  width: 70vw;
}

.indicadores {
  height: 100%;
  width: 28vw;
}

.indicadores-armazenamento {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  height: 20vh;
  width: 28vw;
}

.indicadores-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  height: 3vh;
  width: 28vw;
}

.indicadores-armazenamento {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  height: 20vh;
  width: 28vw;
}

.indicadores-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  height: 3vh;
  width: 28vw;
}

.dados-indicadores {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  margin-top: 5%;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 2%;
  border-radius: 30px;
  height: 100%;
  width: 28vw;
}

.area-grafico03-armazenamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 29vh;
  width: 40vw;
  background-color: #ffffff;
  border-radius: 30px;
}

/* dash de rede */
/* gustavo*/
.dash-uso-rede {
  display: flex;
  width: 75vw;
  justify-content: space-between;
}

.dash-uso-rede div {
  background-color: #fff;
  border-radius: 5vh;
  height: 50vh;
  width: 70vw;
  padding: 5vh;
  margin: 2vh;
}

.dash-uso-rede #div_kpi_rede {
  width: 30vw;
  height: 80vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dash-uso-rede #div_kpi_rede span {
  display: flex;
  justify-content: center;
}

.dash-uso-rede #div_kpi_rede span div {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 5vh;
  width: 20vh;
}

.dash-uso-rede #div_kpi_rede span div p {
  margin: 0;
}

.listagem-de-servidores {
  min-height: 100vh;
  height: 100%;
  /* height: 100vh; */
  /* comentamos o codigo acima para que a tela fique adaptiva*/
}

.dashboard-content #users-list {
  display: flex;
  border-radius: 15px;
  width: 90%;
  height: 80%;
  padding: 0 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboard-content #users-list .user {
  border-radius: 10px;
  background-color: #f4f4f4;
  padding: 20px 20px 0 20px;
  width: fit-content;
}

.dashboard-content #users-list .user .userData {
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  color: #757575;
  font-weight: 500;
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
}

.dashboard-content #users-list .user .header {
  color: #ff7c33;
  font-weight: bold;
}

.dashboard-content #users-list .user .userData .data {
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  list-style: none;
  font-size: 14px;
}

.dashboard-content #users-list .user .userData .name {
  padding-left: 15px;
  width: 150px;
}

.dashboard-content #users-list .user .userData .email {
  width: 200px;
}

.dashboard-content #users-list .user .userData .cargo {
  width: 114px;
}

.dashboard-content #users-list .user .userData .cidade {
  width: 13vw;
  margin: 0 20px;
}
.dashboard-content #users-list .user .userData .estado {
  width: 100px;
}
.dashboard-content #users-list .user .userData .telefone {
  width: 150px;
}

.dashboard-content #users-list .user .userData .status {
  display: flex;
  gap: 5px;
  justify-content: end;
  width: 150px;
  margin-right: 10px;
}



.dashboard-content #users-list .user .userData .status .userStatus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-content #users-list .user .userData .status .userStatus #imgEdit {
  height: 10px;
}

.dashboard-content #users-list .user .userData .status .userStatus {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.matar {
  background-color: red;
}

.Ativo {
  background-color: #6dff33;
}

.Manutenção {
  background-color: #ffcf26;
}

.status{
}


.dashboard-content #users-list .user .userData .pid{
  width: 50px;
  margin: 0 0 0 10px;
}

.dashboard-content #users-list .user .userData .cpu{
  width: 130px;
}
.dashboard-content #users-list .user .userData .ram{
  width: 100px;
}


.dashboard-content #users-list .user .userData .nameProcesso {
  padding-left: 15px;
  width: 75px;
}